@model Projeto.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Cardápio";
}
<partial name="_Carousel" />
<div class="text-center text-dark">
<h3>Aprecie sem moderação nosso </h3>
<h1>Cardápio</h1>
</div>
<div class="row row-cols-1 row-cols-sm-3 g-3">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>